{% extends 'base.html' %} 

{% load qr_code %}

{% block content %} 
    <h1 style="display: inline;">All People</h1> 

<form method="post" style="margin-left: 2em;" action="{% url 'person_store_route' %}"> 
    {% csrf_token %} 
    <p>
        <strong>Vorname:</strong> 
        <input type="text" name="firstname"/> 

        <strong>Nachname</strong> 
        <input type="text" name="lastname"/> 
    
        <strong>Klassenbezeichnung:</strong> 
        <input type="text" name="vsclass"/> 
    </p> 
    <p> 
        <button type="submit" class="btn btn-outline-info">Create</button> 
    </p> 
</form> 
<div id="printableArea">
    <table class="table table-striped table-bordered"> 
        <thead> 
            <td>Firstname</td> 
            <td>Lastname</td>
            <td>Class</td>
            <td>QR-Code</td> 
            <td colspan="3">Actions 
            </td> 
            
        </thead> 
        {% for k, v in persons.items %} {# repeat for every person in people #} 
        <tr> 
            <td>{{ v.p.firstname }}</td> 
            <td>{{ v.p.lastname }}</td> 
            <td>{{ v.p.vsclass }}</td> 
            <td>{% qr_from_text v.json  size="s" %}</td>
            <td> 
                <a href="{% url 'person_details_route' v.p.id %}" 
                   class="btn btn-outline-info">Show Details</a> 
            </td> 
            <td> 
                <a href="{% url 'person_edit_route' v.p.id %}" 
                   class="btn btn-outline-info">Edit</a> 
            </td> 
            <td> 
                <form method="post" action="{% url 'person_delete_route' v.p.id %}"> 
                    {% csrf_token %} 
                    <button type="submit" class="btn btn-outline-info">Delete</button> 
                </form> 
            </td> 
        </tr> 
        {% endfor %} 
    </table> 
</div>
    <p> 
        Number of People: {{ persons.count }} 
    </p> 

    <input type="button" onclick="printDiv('printableArea')" value="print a div!" />

    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>

{% endblock content %} 