<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <title>People</title> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
</head> 
<body> 
<!-- Navigation Bar --> 
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #ffc107;"> 
    <!-- Brand/logo --> 
    <a class="navbar-brand" href="{%  url 'person_index_route' %}">Alle Schüler</a> 
    <!-- Links --> 
    {% if user.is_authenticated %} 
    <ul class="navbar-nav mr-auto"> 
        <li class="nav-item"> 
            <a href="{%  url 'person_index_route' %}" class="btn btn-outline-light">All People</a> 
        </li> 
    </ul> 
    <ul class="navbar-nav float-right"> 
        <li class="nav-item"> 
            <span class="navbar-brand">Hi {{ user.username }}!</span> 
            <a href="{% url 'logout' %}" class="btn btn-outline-light">logout</a> 
        </li> 
    </ul> 
    {%  endif %} 
</nav> 
<!-- content placeholder --> 
{% block content %} 
    if you see this, something is wrong! 
{% endblock content %} 



<!-- JavaScripts --> 
<script src="https://code.jquery.com/jquery-3.3.1.slim.js" 
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" 
        crossorigin="anonymous"> 
</script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
</body> 
</html> 